@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DBHelvethaicaX';
  src: url('/fonts/dbhelvethaicax-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DBHelvethaicaX';
  src: url('/fonts/dbhelvethaicaxmed-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DBHelvethaicaX';
  src: url('/fonts/dbhelvethaicaxbd-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-softCream font-sans text-deepIndigo;
  }
}